header img {
    width: 220px;
    height: 100px;
}
.header--title-container {
    height: 300px;
}
.main-exchange-container {
    padding-top: 0;
}
.backgroungImg  {
    width: 100%;
    height: 400px;
    background-attachment: fixed;
}
.main-tables-container {
    overflow-x: hidden;
    display: flex;
    width: 930px;
    margin: 0 auto;
}
.product-cards--container {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}
.plans-container--slider {
    overflow-x: hidden;
    justify-content: center;
}
.bitcoin-img-container {
    background-attachment: fixed;
}
footer .right img {
    width: 90px;
}
